@use "../abstracts/mixins";
@use "../base/typography";

.voteControl {
	padding: 0 1rem;
	@include mixins.flexCenter();
	gap: 1rem;

	&__table {
		width: 100%;
	}

	&__row {
		width: 100%;
		@include mixins.flexCenter();
		flex-direction: row;
		justify-content: space-between;

		&-title {
			font-size: typography.$fontsize-medium;
			overflow: hidden;
		}

		&-button {
			width: max-content;
			padding: 0.75rem 1.5rem;
			font-size: typography.$fontsize-medium;
			font-weight: 500;
		}
	}
}
