@use "../base/typography";

@mixin flexCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin flexEnd {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

@mixin flexStart {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

// <--- typography --->
@mixin largeRed {
	font-size: typography.$fontsize-large;
	font-weight: 600;
	color: var(--primary);
}

// <--- media query system --->

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (min-width: 18.75em) {
			// min 300px to trigger
			@content;
		}
	}
	@if $breakpoint == tab-port {
		@media only screen and (min-width: 31.25em) {
			// min 500px to trigger
			@content;
		}
	}
}
