@use "../abstracts/mixins";
@use "../base/typography";

.adminPage {
	height: 100%;

	&__btns {
		@include mixins.flexCenter();
		flex-direction: row;
		transition: all 0.3s;
		padding-top: 2rem;
		padding-bottom: 4rem;

		&__btn--left,
		&__btn--right {
			padding: 0.5rem 3rem;
			width: 20rem;
			background-color: var(--black);

			&:hover {
				background-color: var(--black);
				border: 2px solid var(--background);
			}

			&--active {
				background-color: var(--background);
				border: 2px solid var(--background);

				&:hover {
					background-color: var(--background);
					border: 2px solid var(--background);
				}
			}
		}

		&__btn--left {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&__btn--right {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
	}
}
