@use "../abstracts/mixins";
@use "../base/typography";

.errorPage {
	width: 80vw;
	height: 100vh;
	max-height: 100vh;
	margin: 0 auto;
	margin-top: -10vh;
	@include mixins.flexCenter();
	gap: 3rem;

	@include mixins.largeRed();
	color: var(--white);

	&__logo {
		width: 50%;
		margin-bottom: -1rem;
	}
}
