@use "../base/mixins";
@use "../base/typography";

.errorPage {
	width: 80vw;
	height: 100vh;
	max-height: 100vh;
	margin: 0 auto;
	margin-top: -10vh;
	@include mixins.flexCenter();
	gap: 3rem;
	text-align: center;

	&__logo {
		width: 50%;
		max-width: 30rem;
		margin-bottom: -1rem;
	}
}
