@use "../abstracts/mixins";
@use "../base/typography";

.fallback {
	height: 100%;
	margin-top: -10vh;
	@include mixins.flexCenter();
	gap: 2rem;
	text-align: center;
	color: var(--white);

	&__title {
		@include mixins.largeRed();
	}

	&__text {
		font-size: typography.$fontsize-medium;
	}

	&__link {
		color: var(--primary);
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
}
