*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--black: #000000;
	--white: #efe5d0;

	--background: #5c0a10; // main background
	--background--light: #821619; // use for hover --main
	--background--dark: #2a0f10; // use for hover --secondary

	--primary: #b72025; // text
}

html {
	font-size: 62.5%;
	height: 100dvh;
}

body {
	box-sizing: border-box;
	min-height: fit-content;
	background-color: #000000;
}

// https://www.frontend.fyi/v/finally-a-fix-for-100vh-on-mobile
// see this for retarded ass 100vh on mobile
// 100vh doesnt take into account browser ui, svh is for full (uncollapsed) ui, lvh is for collapsed ui, dvh adapts to both (in an ugly ass way, add transitions)

.container {
	height: 100dvh;
	max-height: max-content;
	width: 90%;
	min-width: 30rem;
	max-width: 50rem;
	margin: 0 auto;
	position: relative;
}

.page-container {
	// 10rem sigla
	height: 100%;
	width: 100%;
	max-height: calc(100dvh - 10rem - 1rem);
	margin: 0 auto;
	// nu stiu de unde e 1rem, sa mi bag pula ca m am uitat cateva ore prin css cand i am facut refactoring si nu e nicaieri ??? so da, e 1rem sub sigla
}

.logo {
	margin-left: -3rem;

	&:hover {
		cursor: pointer;
	}
}
