@mixin flexCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// <--- media query system --->

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 31.25em) {
			//max 500px to trigger
			@content;
		}
	}
	@if $breakpoint == notPhone {
		@media only screen and (min-width: 31.25em) {
			// min 500px to trigger
			@content;
		}
	}
}
