@use "./typography.scss";

.sigla {
	height: 10rem;
}

// for keyboard navigation (w/ tab)
:focus-visible {
	outline: 2px solid var(--white);
}

button {
	background-color: var(--background);
	border: 2px solid var(--background);
	color: var(--white);
	padding: 1.4rem;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s;

	font-size: typography.$fontsize-medium;
	font-weight: 500;
	font-family: "Jost", sans-serif;

	&:hover {
		background-color: var(--primary);
		border: 2px solid var(--primary);
	}

	&:disabled {
		background-color: var(--background--dark);
		cursor: not-allowed;
	}
}

input {
	background-color: var(--black);
	border: 2px solid var(--background);
	color: var(--white);
	border-radius: 6px;
	outline: none;
	padding: 1rem 2rem;
	font-size: typography.$fontsize-small;
	cursor: text;

	&:focus {
		outline: none;
	}
}

svg {
	color: var(--primary);
	height: 1.75rem;
	width: 1.75rem;
}
